body{
  overflow-x: hidden;
  background-color: black;
}

.main{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}

.sub{
  background-color: white;
  width: 500px;
  border-radius: 10px;
}

.result{
  height: 150px;
  background-color: orange;
}